<div class="conten">
  <div class="titulo">
    <div>
      <h2 class="txtBlanco">{{ data.titulo }}</h2>
      <p class="txtBlanco">{{ data.mensaje }}</p>
    </div>
    <div>
      <button class="btn1 cancelarBtn" (click)="onCancelar()">
        X
      </button>
    </div>
  </div>

  <mat-dialog-content>
   
  </mat-dialog-content>
  <br>
  <div class="formGridRegistro">
    <label>Nombre:</label>  
    <div>
      <div class="margen">
        <input type="text" class="inputForulario" name="nombre" #nombre="ngModel" placeholder="nombre" [(ngModel)]="persona.nombre">
      </div>
      <label> </label>
    </div>

    <div >
      <div class="margen">
        <input class="inputForulario" type="text" name="apellido" #apellido="ngModel" placeholder="Apellido/s" [(ngModel)]="persona.apellidos">
      </div>   
    </div>
    <div class="row3" *ngIf="!respuestaNom.validacion">
      {{respuestaNom.mensaje}}
    </div>
    <div class="row3" *ngIf="!respuestaApe.validacion">
      {{respuestaApe.mensaje}}
    </div>
    <label for="">Documento: </label>
    <div>
      <div class="margen">
        <select name="" id="" [(ngModel)]="persona.tipoDoc">
          <option value="ci">ci</option>
          <option value="nit">nit</option>
      </select>
      </div>
    </div>
    <div>
      <div class="margen">
        <input type="number" class="inputForulario" name="numDoc" #numDoc="ngModel" [(ngModel)]="persona.numDoc">
      </div>
    </div>
    <div class="row3" *ngIf="!respuestaDoc.validacion">
      {{respuestaDoc.mensaje}}
    </div>
    
    <label for="">Celular: </label>
    <div class="row2 margen">
        <input type="number" class="inputForulario" name="celular" #celular="ngModel" [(ngModel)]="persona.celular">   
    </div>
    <div class="row3" *ngIf="!respuestaCel.validacion"  >
      {{respuestaCel.mensaje}}
    </div>

    <label for="">Direccion: </label>
    <div class="row2 margen">
        <input type="text" class="inputForulario" name="direccion" #direccion="ngModel" [(ngModel)]="persona.direccion">
    </div>
    <div class="row3" *ngIf="!respuestaDir.validacion"  >
       {{respuestaDir.mensaje}}
    </div>

    <label for="">Correo Electronico: </label>
    <div class="row2 margen">
        <input type="text" class="inputForulario" name="correoE" #correo="ngModel" [(ngModel)]="persona.correoE">
    </div>
    <div class="row3" *ngIf="!respuestaCorreoE.validacion"  >
       {{respuestaCorreoE.mensaje}}
    </div>
</div>
<mat-dialog-actions align="end">
  <button class="btn1" color="primary" (click)="onAceptar()">
    {{ data.textoAceptar || 'Aceptar' }}
  </button>
</mat-dialog-actions>
</div>

