
<div class="contenedor-N2-Fila">
    <div class="titulo-N2">
        <h2>Lista de Usuarios</h2>
        <div>
            <button class="btn btn-Confirmar primario ">
            Nuevo Usuario
            </button>
            <mat-icon class="icono" (click)="ExportarPdf()">picture_as_pdf</mat-icon>
            <mat-icon class="icono" (click)="exportarExcel()">view_list</mat-icon>
        </div>      
    </div>

    <div class="contenedor-tablaFiltros">
        <div>
            <div class="summary" (click)="toggle()"> 
                <span style="display:inline-flex;"> 
                    <strong>Buscar</strong>
                    <mat-icon>{{ mostrarFiltros ? 'cancel' : 'search' }}</mat-icon>
                </span>
            </div>
            <div class="entradaFiltros" [ngClass]="{ 'open': mostrarFiltros, 'closed': !mostrarFiltros }">
              nombre <input type="text" [(ngModel)]="nombre">
              apellidos <input type="text" [(ngModel)]="apellidos">
              estado <input type="text" [(ngModel)]="estado"><br>
              rol <br> <input type="text" [(ngModel)]="rol"><br>
              inicio <br><input type="date" [(ngModel)]="fechaInicio"><br>
              fin <br><input type="date" [(ngModel)]="fechaFin">
              <button (click)="buscar()">buscar</button>
            </div>
            
        </div>
        <div class="tablaPaginador">
            <table class="tabla-N2">
                <thead>
                   <th>Nombre</th>
                   <th>Apellido/s</th>
                   <th>Rol</th>
                   <th>Estado</th>                   
                   <th>Tipo</th> 
                   <th># Doc.</th>
                   <th>Usuario</th>
                   <th>Fecha Registro</th>
                   <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.persona.nombre}}</td>
                        <td>{{usuario.persona.apellidos}}</td>
                        <td>{{usuario.rol}}</td>
                        <td>{{usuario.estado}}</td>
                        <td>{{usuario.persona.tipoDoc}}</td>
                        <td>{{usuario.persona.numDoc}}</td>
                        <td>{{usuario.nombreU}}</td>
                        <td>{{usuario.fechaReg|date:'dd-MM-yyyy'}}</td>
                        <td>
                            <div class="iconSeg">
                                <mat-icon class="icono">settings</mat-icon>
                                <mat-icon class="icono"(click)="ConfirmaEliminarUsuario(usuario)" >cancel</mat-icon>
                                <mat-icon class="icono">folder_open</mat-icon>
                                <button (click)="modificarUsuario(usuario)">modificar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <app-paginador
            [totalItems]="totalItems"
            [itemsPerPage]="datosporPagina"
            [currentPage]="paginaActual"
            [totalPages]="totalPaginas"
            (pageChange)="cambiarPagina($event)"
            (itemsPerPageChange)="cambiarDatosporPagina($event)">
            </app-paginador>   
        </div>
    </div>      
</div>
